  .chat-messages-container{
    flex-grow: 1;
    margin-top: 20px;
    overflow: scroll;
    scrollbar-width:none;
  }
   .welcome-message{
    color: rgb(120,120,120);
    display: flex;
    justify-content: center;
    
  }

