  .send-button {
    background-color: rgb(25, 135, 84);
    color: white;
    border: none;
    padding: 12px 20px;
    margin-left: 10px;
    border-radius: 11px;
    font-size: 15px;
    cursor: pointer;
  }
  .clear-button{
    background-color: rgb(222, 222, 222);
    color: black;
    border: none;
    padding: 12px 20px;
    margin-left: 10px;
    border-radius: 11px;
    font-size: 15px;
    cursor: pointer;
  }

  .chat-input {
    font-size: 15px;
    padding: 12px 15px;
    border-width: 1px;
    border-radius: 10px;
    flex-grow: 1;
  }

  .chat-input-container {
    display: flex;
    align-items: stretch;
    margin-bottom: 60px;
  }