

  .send-button {
    background-color: rgb(25, 135, 84);
    color: white;
    border: none;
    padding: 12px 20px;
    margin-left: 10px;
    border-radius: 11px;
    font-size: 15px;
    cursor: pointer;
  }

  .chat-input {
    font-size: 15px;
    padding: 12px 15px;
    border-width: 1px;
    border-radius: 10px;
    flex-grow: 1;
  }

  .chat-input-container {
    display: flex;
    align-items: stretch;
    margin-bottom: 60px;
  }

  .app-container {
    max-width: 600px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
  }

  .chat-message-user {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;


  }
  .chat-message-robot{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .chat-message-text{
    background-color: rgb(238,238,238);
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px 20px;
    border-radius: 10px;
    max-width: 300px;
    
  }
  .chat-message-profile{
    width: 45px ;
  }
  .chat-messages-container{
    flex-grow: 1;
    margin-top: 20px;
    overflow: scroll;
    scrollbar-width:none;
  }
  .welcome-message{
    color: rgb(120,120,120);
    display: flex;
    justify-content: center;
    
  }
  .loading-image{
    width:40px;
    margin: -15px;
  }
